DEV_DB_NAME=pi-postgres
DEV_DB_USER=pi-postgres
DEV_DB_PASSWORD=root
DEV_REDIS_PASSWORD=root

TEST_DB_NAME=pi-test-postgres
TEST_DB_USER=pi-test-postgres
TEST_DB_PASSWORD=test-root

#PROD
SPRING_PROFILES_ACTIVE=prod
DOMAIN_NAME=localhost
EMAIL_TO_NOTIFY=poerl@yandex.ru
PROD_DB_NAME=pi-postgres
PROD_DB_USER=pi-postgres
PROD_DB_PASSWORD=root
PROD_REDIS_NAME=redis
PROD_REDIS_PORT=6379
PROD_REDIS_PASSWORD=root