<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
      th:replace="~{fragments/layout :: main-layout(~{::main-content}, ~{::title})}">
<head>
    <title>Фотостудия «Фокус»</title>
</head>
<body>

    <div th:fragment="main-content">
        <h1>Добро пожаловать на страницу оборудования!</h1>

        <div th:if="${equipment.equipment != null && !equipment.equipment.isEmpty()}">
            <div th:each="item : ${equipment.equipment}">
                <h3 th:text="|title: ${item.title ?: 'none'}|"></h3>
                <p th:text="|text: ${item.text ?: 'none'}|"></p>
                <div th:replace="~{fragments/components :: safe-img(${item.image}, 'Data tab pic', null)}"></div>
            </div>
        </div>
    </div>

</body>
</html>
