<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
      th:replace="~{fragments/layout :: main-layout(~{::main-content}, ~{::title}, ~{::#equipment-css}, ~{})}">
<head>
    <title>Фотостудия «Фокус»</title>

    <th:block id="equipment-css">
        <link rel="stylesheet" th:href="@{/css/components.css}" blocking="render">
    </th:block>
</head>
<body>

    <th:block th:fragment="main-content">
        <th:block th:if="${equipment.equipment != null && !equipment.equipment.isEmpty()}">
            <th:block th:each="item : ${equipment.equipment}">
                <th:block th:replace="~{fragments/components :: imaged-text-card(${item}, '', 'underlined')}"></th:block>
            </th:block>
        </th:block>
    </th:block>

</body>
</html>
