<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
      th:replace="~{fragments/layout :: main-layout(~{::main-content}, ~{::title}, ~{::#info-css}, ~{::#info-scripts})}">
<head>
    <th:block id="info-css">
        <link rel="stylesheet" th:href="@{/css/components.css}" blocking="render">
        <link rel="stylesheet" th:href="@{/css/info.css}" blocking="render">
    </th:block>

    <title>Фотостудия «Фокус»</title>
</head>
<body>

    <div th:fragment="main-content">
        <div class="about-block">
            <div class="logo-block">
                <div th:replace="~{fragments/basic-components :: safe-img(${info.aboutBlock.logo}, 'logo', 'square')}"></div>
                <h1>Фотостудия «Фокус»</h1>
            </div>

            <div class="description-block">
                <div class="text-description">
                    <p th:text="${info.aboutBlock.description} ?: 'Тут должно быть описание студии, но оно куда-то убежало :('"></p>
                    <p class="cool-phrase">Теперь у вас есть место, где идеи становятся кадрами.</p>
                </div>
                <div th:replace="~{fragments/basic-components :: safe-img(${info.aboutBlock.aboutImage}, 'aboutImage', 'horizontal')}"></div>
            </div>
        </div>

        <div class="rent-rules-block">
            <h2>Правила аренды</h2>
            <th:block th:if="${info.rentRules != null && !info.rentRules.isEmpty()}">
                <div th:replace="~{fragments/components :: carousel(
                    items=${info.rentRules},
                    slideFragment='fragments/carousel-cards :: titled-text-card',
                    visibleSlides=3,
                    duration='0.4s',
                    autoplayInterval='5s',
                    autoplay=true,
                    showArrows=false,
                    showDots=true,
                    carouselClass='',
                    carouselId='rentrules-carousel',
                    slideClass=''
                )}"></div>
            </th:block>
        </div>

        <div class="imaged-router">
            <th:block th:if="${info.dataTabs != null && !info.dataTabs.isEmpty()}">
                <div th:replace="~{fragments/components :: tabs(
                    items=${info.dataTabs},
                    slideFragment='fragments/tab-adapters :: data-card-adapter',
                    routerId='tab-router',
                    class='')}">
                </div>
            </th:block>
        </div>
    </div>

    <th:block id="info-scripts">
        <script th:src="@{/js/carousel.js}" defer></script>
        <script th:src="@{/js/tabs.js}" defer></script>
    </th:block>
</body>
</html>
