<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
      th:replace="~{fragments/layout :: main-layout(~{::main-content}, ~{::title}, ~{::#login-css}, ~{::#login-scripts})}">
<head>
    <th:block id="login-css">
        <link rel="stylesheet" th:href="@{/css/auth.css}" blocking="render">
    </th:block>
    <title>Фотостудия «Фокус»</title>
</head>
<body>

    <th:block th:fragment="main-content">
        <div class="auth-block">
            <h3>Авторизация</h3>

            <form th:action="@{/login}" method="POST" id="login-form">
                <label for="login">Email / логин / телефон</label>
                <input type="text" id="login" name="login" placeholder="" required>

                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="" required>

                <div class="submit-block">
                    <button type="submit" class="btn-submit" id="submit-btn">ВОЙТИ</button>
                    <a th:href="@{/registration}" class="btn-switch-log-reg">ЗАРЕГИСТРИРОВАТЬСЯ</a>
                </div>
            </form>

            <p class="error-msg" th:if="${param.error}">Неверный логин, телефон или пароль.</p>
        </div>
    </th:block>

    <th:block id="login-scripts">
        <script th:src="@{/js/login.js}" defer></script>
    </th:block>
</body>
</html>
