<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
      th:replace="~{fragments/layout :: main-layout(~{::main-content}, ~{::title}, ~{::#photographers-css})}">
<head>
    <th:block id="photographers-css">
        <link rel="stylesheet" th:href="@{/css/components.css}" blocking="render">
    </th:block>
    <title>Фотостудия «Фокус»</title>
</head>
<body>

    <div th:fragment="main-content">        
        <th:block th:if="${photographers.photographers != null && !photographers.photographers.isEmpty()}">
            <th:block th:each="item : ${photographers.photographers}">
                <th:block th:replace="~{fragments/components :: imaged-text-card(${item}, 'round', 'underlined')}"></th:block>
            </th:block>
        </th:block>
    </div>

</body>
</html>
