<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
      th:replace="~{fragments/layout :: main-layout(~{::main-content}, ~{::title}, ~{::#photorooms-css}, ~{})}">
<head>
    <th:block id="photorooms-css">
        <link rel="stylesheet" th:href="@{/css/components.css}" blocking="render">
    </th:block>
    <title>Фотостудия «Фокус»</title>
</head>
<body>
    <div th:fragment="main-content">
        <th:block th:if="${photorooms.photorooms != null && !photorooms.photorooms.isEmpty()}">
            <th:block th:each="item : ${photorooms.photorooms}">
                <th:block th:replace="~{fragments/components :: data-card(${item}, 'Забронировать', '', 'underlined switching')}"></th:block>
            </th:block>
        </th:block>
    </div>

</body>
</html>
